.featuredimage {
    display: inline-block;
}

.set-main {
  h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}

.set-images {
    padding-top: 1rem;
}

.set-list-item {
  border-bottom: 0.2rem solid lightgrey;

  .set-list-item-content {

    h3 {
      margin-top: 0;
    }
  }
}
