div .help-block.password-help {
  /* width: 250px; */
	float: left;
}

label[for=edit-pass--2] {
  display: none;
}

/*
.form-type-password-confirm .control-label {
	display: none;
}
*/

.form-type-password .glyphicon {
	height: auto;
}
